#html-text-area, #css-text-area{
    background: darkslategray;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    color: rgb(42, 255, 255);
    border-radius: 0.5em;
    padding: 0.5em;
}

#output{
    border: 2px solid darkslategray;
}

.area-label{
    font-family: Arial, Helvetica, sans-serif;
}

.credit{
    position: absolute;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    bottom: 0;
}
